{
  "env": {
    "build": {
      "ignore": ["*/__tests__/", "*/__fixtures__/"]
    }
  },
  "ignore": ["/node_modules/"],
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ]
}
